<ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-grid>
          <ion-row id="item100"  *ngFor="let mess of messages">
            <ion-col size="12" class="messageBox">
              <span>{{mess.message}}</span>
            </ion-col >
          </ion-row>
        </ion-grid>
</ion-content>

<ion-footer>
    <ion-item>
      <textarea cols="20" rows="2" placeholder="SMS Messages" [(ngModel)]="message" enterkeyhint="search"></textarea>
      <ion-item-option color="danger">
          <ion-icon slot="icon-only"  name="send" (click)="sendMessages()"></ion-icon>
        </ion-item-option>
    </ion-item>
</ion-footer>