<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="gallery">
      <a target="_blank">
        <img  src="assets/imgs/gallery1.jpg" alt="Couldn't Load Image"  width="600" height="400" >
      </a>
    </div>
  
    <div class="gallery">
        <a target="_blank">
          <img  src="assets/imgs/gallery2.jpg" alt="Couldn't Load Image"  width="600" height="400" >
        </a>
      </div>
  
      <div class="gallery">
          <a target="_blank">
            <img  src="assets/imgs/gallery3.jpg" alt="Couldn't Load Image"  width="600" height="400" >
          </a>
        </div>

        <div class="gallery">
            <a target="_blank">
              <img  src="assets/imgs/gallery4.jpg" alt="Couldn't Load Image"  width="600" height="400" >
            </a>
          </div>

          <div class="gallery">
              <a target="_blank">
                <img  src="assets/imgs/gallery5.jpg" alt="Couldn't Load Image"  width="600" height="400" >
              </a>
            </div>

            <div class="gallery">
                <a target="_blank">
                  <img  src="assets/imgs/gallery6.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                </a>
              </div>

              <div class="gallery">
                  <a target="_blank">
                    <img  src="assets/imgs/gallery7.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                  </a>
                </div>

                <div class="gallery">
                    <a target="_blank">
                      <img  src="assets/imgs/gallery8.jpeg" alt="Couldn't Load Image"  width="600" height="400" >
                    </a>
                  </div>

                  <div class="gallery">
                      <a target="_blank">
                        <img  src="assets/imgs/gallery9.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                      </a>
                    </div>

                    <div class="gallery">
                        <a target="_blank">
                          <img  src="assets/imgs/gallery10.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                        </a>
                      </div>

                      <div class="gallery">
                          <a target="_blank">
                            <img  src="assets/imgs/gallery11.jpeg" alt="Couldn't Load Image"  width="600" height="400" >
                          </a>
                        </div>

                        <div class="gallery">
                            <a target="_blank">
                              <img  src="assets/imgs/gallery12.jpeg" alt="Couldn't Load Image"  width="600" height="400" >
                            </a>
                          </div>

                          <div class="gallery">
                              <a target="_blank">
                                <img  src="assets/imgs/gallery15.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                              </a>
                            </div>

                            <div class="gallery">
                                <a target="_blank">
                                  <img  src="assets/imgs/gallery14.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                                </a>
                              </div>

                              <div class="gallery">
                                  <a target="_blank">
                                    <img  src="assets/imgs/gallery13.jpg" alt="Couldn't Load Image"  width="600" height="400" >
                                  </a>
                                </div>
  
</ion-content>
