<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        MY PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <center>
    <div>
      <img class="cover_pic" src="assets/imgs/cover_photo.png" alt="Couldn't Load Image" >  
      <img class="profile_pic" src="assets/imgs/profile.png" alt="Couldn't Load Image" >
    </div>
</center>
<div class="user-meta ion-text-center" >
    <p class="username">JAMES PATRICK AFABLE</p>
    <p class="motto">"Too Much Love Will Kill You"</p>
    <p>Studied at <big>Eastern Visayas State University - Carigara Campus</big> </p>
    <p>Lives in <big>Barugo Leyte</big> </p> 
    <p>From <big>Kawit Cavite</big></p>
    <p>Male</p>
    <p>Single</p>
</div>

<ion-card class="left">
    <big><br>
        <ion-icon name="videocam-sharp" ></ion-icon>
        I love Watching Movies
    </big>
</ion-card>
<ion-card class="right">
  <big><br>
      <ion-icon name="basketball-sharp"></ion-icon>
      I love Playing Basketball
  </big>
  </ion-card>
  <ion-card class="left">
      <big><br>
          <ion-icon name="airplane-sharp"></ion-icon>
          I love Travelling
      </big>
    </ion-card>
    <ion-card class="right">
        <big><br>
            <ion-icon name="fast-food-sharp"></ion-icon>
            I love Eating
        </big>
      </ion-card>



</ion-content>
