<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img  src="assets/imgs/gallery1.jpg" alt="Couldn't Load Image"  width="90" height="90" >
    <big>My Number +639465680712</big>
  </ion-card>
  <ion-card>
    <img  src="assets/imgs/contact3.jpg" alt="Couldn't Load Image"  width="90" height="90" >
    <big>Cardric Bacungan +639434893211</big>
  </ion-card>
  <ion-card>
    <img  src="assets/imgs/contact1.jpg" alt="Couldn't Load Image"  width="90" height="90" >
    <big>Elio Canasta +639469880712</big> 
  </ion-card>
  <ion-card>
    <img  src="assets/imgs/contact4.jpg" alt="Couldn't Load Image"  width="90" height="90" >
    <big>Raymund Opena +639765680777</big>
  </ion-card>
  <ion-card>
      <img  src="assets/imgs/contact2.jpg" alt="Couldn't Load Image"  width="90" height="90" >
      <big>Dante Riel +639775680077</big>
    </ion-card>
  
</ion-content>
